{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit Post' %}{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center">{% trans 'Edit Post' %}</h1>
{% endif %}

<div class="container">

  {% if user.is_authenticated %}
    {% if user.id == post.post_author.id %}
      <form method="POST" enctype="multipart/form-data" class="form-group">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-success btn-sm" id="edit_post_button_id">{% trans 'Edit Profile' %}</button>
        <a href="{% url 'home' %}" class="btn btn-danger btn-sm">{% trans 'Back' %}</a>
      </form>
    {% else %}
      <h1 class="text-center text-uppercase text-danger">{% trans 'It`s not your post !!!' %}</h1>
    {% endif %}
  {% else %}
    <h1 class="text-center text-uppercase text-danger">{% trans 'You are not authorized!!!' %} <br/> {% trans 'This page is only for authorized users!!!' %}</h1>
  {% endif %}
</div>

<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>

<script>
  // Run this code when the window finishes loading
  window.onload = function() {
    // Replace the textarea element with ID 'myeditor' with CKEditor
      CKEDITOR.replace('myeditor');
  };

  // Get the value of the user ID from the backend and store it in the 'name' variable
  let name = "{{ user.id }}";
  // Set the value of the element with the ID 'post_author_id' to the 'name' variable
  document.getElementById("post_author_id").value = name;
</script>

{% endblock content %}