{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password Updated' %}{% endblock title %}

{% block content %}
<h1 class="text-center">{% trans 'Password Updated' %}</h1>

<div class="container">

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{% trans 'Your Password Was Changed Successfully' %}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

{% endblock content %}